html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #ccc;  
}


a:active {
  color: white;
}
.logo img{
  float: left;
  height: 50px;
  margin: 0 auto;
  margin-bottom: auto;
  padding-top: 15px;
  
}

.header {
  background-color: black;
  height: 60px;
  padding-bottom: 15px;
  padding-bottom: 15px;
   border-bottom: 1px solid #ffffff;
}

.header-list ul {
  margin:0; 
  padding: 0;          /* ← ここ重要（左の40px） */
  list-style: none;
  display: flex;       /* gapを効かせるため親をflexに */
  gap: 16px;
  align-items: center;
  font-size: 35px;
}



.concept-top {
  padding-top: 15px;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Poppins", 'sans-serif';
  font-weight: 700;
}

.info-top {
  padding-top: 15px;
  color: white;
  padding-right: 100px;
  font-family: "Poppins", 'sans-serif';
  font-weight: 700;
}

.header::after {
  content: "";
  display: block;
  clear: both;  
}


.title h1 {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  padding-top: 130px;
}

.concept p {
  text-align: center;
  font-size: 25px;
  margin: 15px 120px;
}

.one {
  font-size: 40px;
  padding-bottom: 60px;
  
}

.jfc {
  font-size: 30px;
  padding-bottom: 150px;
}


