html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #ccc;  
}


a:active {
  color: white;
}
.logo img{
  float: left;
  height: 50px;
  margin: 0 auto;
  margin-bottom: auto;
  padding-top: 15px;
  
}

.header {
  background-color: black;
  height: 60px;
  padding-bottom: 15px;
  padding-bottom: 15px;
   border-bottom: 1px solid #ffffff;
}

.header-list ul {
  margin:0; 
  padding: 0;          /* ← ここ重要（左の40px） */
  list-style: none;
  display: flex;       /* gapを効かせるため親をflexに */
  gap: 16px;
  align-items: center;
  font-size: 35px;
}



.concept-top {
  padding-top: 15px;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Poppins", 'sans-serif';
  font-weight: 700;
}

.info-top {
  padding-top: 15px;
  color: white;
  padding-right: 100px;
  font-family: "Poppins", 'sans-serif';
  font-weight: 700;
}

.header::after {
  content: "";
  display: block;
  clear: both;  
}

.producer h1 {
    margin-top: 100px;
    display: inline-block;
    position: relative;
    padding: 0 2.5em;
    color: #ffffff;
}
.producer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: black;
  
}

.producer h1::before,
.producer h1::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 70px;
    height: 3px;
    background-color: white;
}

.producer h1::before {
    left: 0;
}

.producer h1::after {
    right: 0;
}
.producer figcaption {
  text-align: center;
  margin-top:10px;
  font-size: 25px;
}

.producer img {
  width: 800px;
  padding-bottom: 100px;
}

.live {
  max-width: 810px;
  margin: 0 auto;
}

.live p {
  font-size: 18px;
  text-align: left;
  line-height: 2;
}



.just {
  font-size: 35px;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
    :root { --header-h: 72px; }
    html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
    body {
      padding-top: var(--header-h);
    }
    .header {
    height: auto;
    width: 100%;
    padding: 8px 12px 12px;
    position: fixed;     /* スクロールしても固定 */
    top: 0;  
    z-index: 1000;
    
  }
  .logo img {
    height: 30px;
    padding-top: 0;
    margin: 0;
  }
  .header-list ul {
    gap: 8px;
    font-size: 13px;
    flex-wrap: wrap;
  }

  /* コンセプト/インフォ見出し余白と文字サイズ */
  .concept-top,
  .info-top {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.4;
  }

  .producer h1 {
    margin-top: 80px;
    display: inline-block;
    position: relative;
    padding: 0 2.5em;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.producer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: black;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-left: 4dvw;
  margin-right: 4dvw;
  
  
}

.producer img {
  width: 300px;
  margin: 0 auto;
}

.live {
  font-size: 12px;
}
