html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.logo {
  float: left;
  height: 46px;
  width: auto;
}

.header {
  background-color: black;
  height: 46px;
  padding-bottom: 15px;
}

.header-list ul {
  margin:0; 
  padding: 0;          /* ← ここ重要（左の40px） */
  list-style: none;
  display: flex;       /* gapを効かせるため親をflexに */
  gap: 16px;
  align-items: center;
  font-size: 45px;
}



.concept-top {
  padding-top: 15px;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}

.info-top {
  padding-top: 15px;
  color: white;
  padding-right: 100px;
}

.header::after {
  content: "";
  display: block;
  clear: both;   /* ← .logo の float をここで打ち消す */
}


.gallery {
  height: 500px;
  width: 100%;
  clear: both;
}

.slideshow-slide {
  position: relative;
  height: 800px;
  overflow: hidden;
  margin:0;
  padding: 0;
}
.slideshow-slide li {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;
  transition: 1s;
  top: 0;
  left: 0;
}
.slideshow-slide li.slide {
  top: 0;
  left: 100%;
  z-index: 10;
}
.slideshow-slide li:first-of-type {
  display: block !important;
}
.slideshow-slide li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slideshow-slide img.is-landscape {
  width: 100%;
  height: auto;
}

.slideshow-slide img.is-portrait {
  height: 100%;
  width: auto;
}

.members-list h1 {
  margin-top: 420px;
  display: inline-block;
  position: relative;
  padding: 0 2.5em;
  color: #ffffff;
}

.members-list {
  text-align: center;
}

.members-list h1::before,
.members-list h1::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 75px;
  height: 3px;
  background-color: #fafdff;
}

.members-list h1::before {
  left: 0;
}

.members-list h1::after {
  right: 0;
}

.members-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.members img {
  width: 100%;
  height: auto;
  display: block;
}

.members figcaption {
  margin-top: 10px;
}

.con-info h1 {
  text-align: center;
  margin-top: 100px;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 200px;
  border: 3px solid #333;
  text-decoration: none;
  margin-top: 80px;
}

.icon a {
  color: white;
}

.con-info {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.con-info h1 {
  margin-top: 110px;
  display: inline-block;
  position: relative;
  padding: 0 2.5em;
  color: #ffffff;
}

.con-info h1 {
  text-align: center;
}

.con-info h1::before,
.con-info h1::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 75px;
  height: 3px;
  background-color: #fafdff;
}

.con-info h1::before {
  left: 0;
}

.con-info h1::after {
  right: 0;
}

.QA h1 {
  text-align: center;
  margin-top: 200px;
}

.qa-6 {
    max-width: 900px;
    margin-bottom: 5px;
    border-bottom: 2px solid #d6dde3;
    text-align: center;
    margin-top: 100px;
    margin: 0 auto;
}

.qa-6 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em 1em 3em;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.qa-6 summary::before,
.qa-6 p::before {
    position: absolute;
    left: 1em;
    font-weight: 600;
    font-size: 1.3em;
    text-align: left;
}

.qa-6 summary::before {
    color: #75bbff;
    content: "Q";
}

.qa-6 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #ffffffb3;
    border-right: 3px solid #ffffffb3;
    content: '';
    transition: transform .5s;
}

.qa-6[open] summary::after {
    transform: rotate(225deg);
}

.qa-6 p {
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 3em 1.5em;
    color: white;
    transition: transform .5s, opacity .5s;
    text-align: left;
}

.qa-6[open] p {
    transform: none;
    opacity: 1;
}

.qa-6 p::before {
    color: #ff8d8d;
    line-height: 1.2;
    content: "A";
}

.messages {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.messages h3 {
  margin-top: 150px;
  text-align: center;
  margin: 0 auto;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid grey;
  margin: 0 auto;
  text-align: center;
}

.concept h3, .info h3, .concept p, .info p {
  margin: 0px;
}

/*# sourceMappingURL=scheck.css.map */
